In [27]:
odds = [1,3,5,7]
print("adds are: ", odds)

adds are:  [1, 3, 5, 7]

In [2]:
print("first element in the list:", odds[0])

first element in the list: 1

In [3]:
print("last element in the list", odds[-1])

last element in the list 7

In [6]:
print("every second element in the list", odds[0::2])

every second element in the list [1, 5]

In [7]:
names = ["curry","Darwing", "Turing"]
print("names is originally", names)
names[1] ="Bruce"
print("final names: ", names)

names is originally ['curry', 'Darwing', 'Turing']
final names:  ['curry', 'Bruce', 'Turing']

In [8]:
name = "Darwin"
print("Print first character in the name: ", name[0])

Print first character in the name:  D

In [10]:
x = [
        ["peper","courgette", "onion"],
        ["cabbage", "lecture","garlic"],
        ["apple","pear","banana"]
]
print(x[0][1])

courgette

In [12]:
sample_ages = [10,12.5,"unknown"]
print(type(sample_ages[0]))
print(type(sample_ages[1]))
print(type(sample_ages[2]))

<class 'int'>
<class 'float'>
<class 'str'>

In [28]:
odds.append(11)

In [23]:
print("odds after adding avalue:", odds )

odds after adding avalue: []

In [29]:
remove_element = odds.pop(0)
print(odds)

[3, 5, 7, 11]

In [43]:
print(odds.reverse())

None

In [44]:
print(odds)

[11, 7, 5, 3]

In [53]:
string_for_slicing = 'observation date: 02-feb-2013'

In [54]:
print("produce last 4 characters: ", string_for_slicing[-4:])

produce last 4 characters:  2013

In [59]:
beatles = "In an octopus's garden in the shade"
print("the first the third and then every other character to the end:", beatles[0::2])

the first the third and then every other character to the end: I notpssgre ntesae

In [1]:
counts = [2,4,6,8,10]
print(counts*2)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

joins的符号*

要想把list里的数都扩大需要转化成array 然后再用*